<%= form_for([:admin, @member]) do |f| %>
    姓名：<%= f.text_field(:name) %><br/>
	职位：<%= f.text_field(:position) %><br/>
	头衔：<%= f.text_field(:title) %><br/>
	备注：
	<select name="member[level]">
		<option value="1">首席律师</option>	
		<option value="2">高级顾问</option>	
	</select>
	<br/>

	<br/>
	头像:
  <p>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </p>

  	<br/>

    <div>
  	简介：
    </div>
    <div style="display: inline-block;">
    <%= f.text_area :html_content %>
    </div>

	<%= f.submit '确定' %>
<% end %>


<script type="text/javascript">
    var csrfitems = document.getElementsByName("csrfmiddlewaretoken");
    var csrftoken = "";
    if(csrfitems.length > 0)
    {
        csrftoken = csrfitems[0].value;
    }
         
    var editor ;
    KindEditor.ready(function(K) {  
        var options = {  
            width : '360px',  
            height : '300px',  
            filterMode : true,
            uploadJson : K.undef('/kindeditor/upload/'),
            extraFileUploadParams : {
                csrfmiddlewaretoken:csrftoken
            }
       };  
        editor = K.create('textarea', options);  
    });                      
</script> 