<style type="text/css">
	table{
		background-color: black;
	}
	td{
		background-color: white;
		font-size: 16px;
	}
	thead td
	{
		font-size: 22px;
	}
</style>



<!--begin-->
<div style="display: inline-block; min-height: 400px;min-width: 640px;">
   		<a href="<%= new_admin_column_article_path(@column) %>" target="black" style="font-size: 18px;font-weight: bold;border: 1px solid;background: lightgoldenrodyellow;">新增文章</a>
<table style="font-size: 22px;margin-top: 10px;width:100%;text-align: center;" border="0" cellspacing="1" cellpadding="0">


	<thead>
		<tr>
			<td>标题</td>
			<td>作者</td>
			<td>位置</td>
			<td>操作</td>
		</tr>
	</thead>
	<tbody>
		<% @articles.each do |article| %>
			<tr>
				<td><%= article.title %></td>
				<td><%= article.author %></td>
				<td><%= article.index %></td>
				<td>
					<%= link_to '编辑', edit_admin_column_article_path(@column, article), target: 'black' %>
					<%= link_to '删除', admin_column_article_path(@column, article), method: 'delete', data: { confirm: '您确定删除这篇文章么？'} %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>