
 <div class="banner-container">
    <%= image_tag "about/aboutBanner0408.jpg" %>
 </div>
 <div class="banner-yinying" style="margin-top: -45px;">
    <%= image_tag "bannerBottom.png" %>
 </div>

<div class="team-container">
	<div class="team-left-container">
		<div class="left-title">
			<span class="left-CN">专业团队/</span>
			<span class="left-EN">Professional Team</span>
		</div>
		<div><%= image_tag "about/aboutShadow.png" %></div>
		<div class="chief-law">
			<span>首席律师</span>
		</div>
		<div><%= image_tag "about/xuxian.png" %></div>
		<div><%= image_tag "about/about.jpg" %></div>
	</div>
	<div class="team-right-container">
		<div class="team-right-head">
			<span>首页>专业团队>首席律师</span>
		</div>
		<div class="team-right-info">
			<div id="rightTitle" class="right-title"><span>首席律师</span></div>

      <div class="team-right-line"></div>

      <div class="right-lawer-contaner">
        <div class="lawyer-one">
          <div><%= image_tag("team/baowangao.jpg", id: 'baowangao') %></div>
          <div class="lawyer-info"><span class="lawyer-name">包万高</span><span>  律师</span></div>
          <div class="lawyer-type"><span>高级合伙人</span><span> 观复所主任</span></div>
        </div>
        <div class="lawyer-two">
           <div><%= image_tag("team/wenwei.jpg", id: 'wenwei') %></div>
          <div class="lawyer-info"><span  class="lawyer-name">文伟</span><span>  律师</span></div>
          <div class="lawyer-type"><span>高级合伙人</span></div>
        </div>
        <div class="lawyer-three">
          <div><%= image_tag("team/huangpeng.jpg", id: 'huangpeng') %></div>
          <div class="lawyer-info"><span  class="lawyer-name">黄鹏</span><span>  律师/拍卖师</span></div>
          <div class="lawyer-type"><span>高级合伙人</span></div>
        </div>
        <div class="lawyer-four">
          <div><%= image_tag("team/jiangdeyun.jpg", id: 'jiangdeyun') %></div>
          <div class="lawyer-info"><span  class="lawyer-name">江德运</span><span>  律师</span></div>
          <div class="lawyer-type"><span>高级合伙人</span></div>
        </div>
      </div>

      <div class="team-right-line"></div>
      
      <div class="right-lawer-contaner">
        <div class="lawyer-one">
          <div><%= image_tag("team/jiangyu.jpg", id: 'jiangyu') %></div>
          <div class="lawyer-info"><span class="lawyer-name">蒋玉</span><span>  律师</span></div>
        </div>
        <div class="lawyer-future">
          <span class="future-info">观复团队</span>
          <span>等待您的加入</span>
        </div>
      </div>

      <div class="team-right-line"></div>
      <div id="rightTitle" class="right-title"><span>高级顾问</span></div>

      <div class="right-lawer-contaner">
        <div class="lawyer-one">
          <div><%= image_tag("team/baowanchao.jpg", width: 150) %></div>
          <div class="lawyer-info"><span class="lawyer-name">包万超</span><span>  教授/博士生导师</span></div>
        </div>
      </div>
		</div>
	</div>
</div>
